*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter Tight', sans-serif;
    color: whitesmoke;
    background-color: black;
}

main{
    margin: 4rem;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.buttons-container{
    margin: 4rem;
    display: grid;
    grid-template-columns: repeat(9, 50px);
    gap: 15px;
}
.buttons-container button{
    font-size: 2rem;
    border-radius: 10px;
    height: 50px;
    padding: 5px;   
    border: 0;
    background-color: goldenrod;
    color: whitesmoke;
    transition: all 0.4s ease;
    cursor: pointer;
}
.buttons-container button:hover{
    scale: 1.1;
    rotate: -2deg;
    color: black;
}
h3{
    margin: 5rem;
}
.password{
    margin-top: 2rem;
}